.error {
    border-color: red !important;
  }

.orange {
  color:orange !important;
}

.aligncenter {
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.big-footer {
    
    background-color: #202020;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.small-footer {
    
    background-color: black;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;

}

.snackbar-error {
    background-color:red !important;
}
.snackbar-success {
    background-color:green !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @media only screen and (max-width: 600px) {
    .pd-600px {
        margin-bottom:8px;
    }
  }

  .hidden {
    visibility: hidden !important;
  }

  