{% extends "base.html" %}
{% block title %}Visitor Manager | Contact{% endblock %}
{% block link-js %}
<script>
    var token = '{{csrf_token}}';
    var store_message_url = "{% url 'store_message' %}";
</script>
<script src="{{ baseUrl }}js/contact.js"></script>
{% endblock %}
{% block content %}
    
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Interested? Contact us!</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Kolkata, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 8617756014<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: bubai666sen@mail.com<br>
        </div>
        <div class="w3-col m6">
        <form action="#">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-half">
                    <input class="w3-input w3-border pd-600px" type="text" placeholder="Name"  name="Name" id="name">
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-border" type="email" placeholder="Email"  name="Email" id="email">
                </div>
            </div>
            
            
            <div style="margin-bottom:8px">
                <input class="w3-input w3-border" type="text" placeholder="Subject"  name="Subject" id="subject">
            </div>
            
            <div style="margin-bottom:8px">
                <textarea class="w3-input w3-border" placeholder="Message"  name="Message" id="message"></textarea>
            </div>
            
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px;">
                <div class="w3-half">
                    <select name="typ" id="id_typ" class="w3-input w3-border" onchange="manageContactType();">
                        <option value="Contact" selected="">Contact Type</option>
                        
                        <option value="Feedback">Feedback</option>
                        
                        <option value="Visiting Request">Visiting Request</option>
                        
                        <option value="Report">Report</option>
                        
                        <option value="Offer">Offer</option>
                    
                    </select>
                </div>
                <div class="w3-half">
                    <input class="w3-input w3-border pd-600px" type="text" placeholder="Purpose of meet"  name="purpose" id="purpose">
                </div>
                <button class="w3-button w3-black w3-section w3-right" type="button" onclick="ajaxForMessegeTransfer();">SEND</button>
            </div>
            
            <div id="snackbar"></div>
        </form>
        </div>
    </div>
</div>
    
{% endblock %}